on:                             [push]

name:                           Build and test

env:
    RUST_BACKTRACE: 1

jobs:

  check:
    name: Check
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          components: rustfmt, clippy
      - uses: actions-rs/cargo@v1
        with:
          command: check

  coverage:
    name:                       Code coverage
    runs-on:                    ubuntu-18.04
    container:
      image:                    xd009642/tarpaulin@sha256:c750363f8d43c49a91000949c79db2090a3952443b221d975aa4557b59561515
      env:
          RUST_BACKTRACE: 1
      options:                  --security-opt seccomp=unconfined
    steps:
      - uses:                   actions/checkout@v2

      - name:                   Generate code coverage
        run: |
          cargo +nightly tarpaulin --verbose --all-features --workspace --timeout 120 --out Xml

      - name:                   Upload to codecov.io
        uses:                   codecov/codecov-action@v1
        with:
          token:                ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error:     true

